@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*------------------------------------------------Colors */

.bg-color-header {
  background-color: #fafafa;
}

.bg-color-footer {
  background-color: #fafafa;
}

/*------------------------------------------------Header */
header {
  margin: 0;
}

.logo {
  background: url("../images/logo_sh.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100px;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

.menuitem {
  height: 30px;
  text-align: center;
  padding: 0;
}

.menuitem a {
  width: 100%;
  font-weight: 100;
  color: #000000;
  text-decoration: none;
  height: 30px;
  margin-top: 35px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.menu-list {
  flex-wrap: wrap;
  display: flex;
}

.social-links {
  padding-bottom: 15px;
  margin: auto;
  float: right;
}

.social-links li a i {
  margin-left: 10px;
  margin-right: 20px;
  width: 32px;
  height: 32px;
  padding: 0;
  font-size: 30px;
  line-height: 7px;
  color: #3e362d;
  text-align: center;
  background: #fafafa;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.list-inline-item:not(:last-child) {
  margin-right: 0px;
}

#nav li {
  font-size: 14px;
}

#nav a {
  display: inline-block;
  margin-left: 100px;
}

/*------------------------------------------------Hamburger */

.hamburger {
  background-color: transparent;
  border: 0;
  color: #000000;
  font-size: 40px;
  display: none;
  cursor: pointer;
}

.hamburger:focus {
  outline: none;
}

/*------------------------------------------------Check availability button*/

.btn,
.btn--cta {
  cursor: pointer;
  background-color: #3e362d;
  border: 2px solid #3e362d;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}

.btn--form {
  cursor: pointer;
  background-color: #3e362d;
  border: 2px solid #3e362d;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}
/*------------------------------------------------Hover.css */

.hvr-sweep-to-bottom:before {
  background: rgba(0, 0, 0, 0.2);
  height: 35px;
  width: 100%;
}

.btn--cta:hover {
  color: #fafafa;
  text-decoration: none;
  background-color: #9a0d02;
  border-color: #802103;
}

.btn--form:hover {
  color: #fafafa;
  text-decoration: none;
  background-color: #9a0d02;
  border-color: #802103;
}

/*------------------------------------------------Footer */
.section-column {
  display: table-cell;
  padding: 0 30px 30px;
  float: none;
}

.section-heading {
  font-family: "Exo", sans-serif;
  font-weight: 300;
  margin-top: 25px;
  margin-bottom: 10px;
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
  text-align: center;
}

.footer-address {
  text-align: center;
  width: 100%;
  font-weight: 100;
  color: #000000;
  text-decoration: none;
  height: 30px;
  margin-top: 35px;
  display: block;
  text-transform: uppercase;
}

/*------------------------------------------------Footer Form */

.opaque-overlay {
  position: relative;
  top: 0;
  left: 0;
  height: 360px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
}

.footer-form {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 13px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 20px;
}

.text-input {
  margin-right: 30px;
}

.footer-form .full {
  grid-column: 1 / 2;
}

/*------------------------------------------------Media Queries */

@media screen and (max-width: 992px) {
  .menu-list {
    display: none;
    width: 100%;
    flex-direction: column;
  }
  .menu-list.show {
    display: flex;
  }

  #nav.show {
    display: flex;
  }

  .hamburger {
    display: block;
    float: right;
  }

  .btn--cta {
    display: none;
    width: 100%;
    flex-direction: column;
  }

  .header-social {
    display: none;
    width: 100%;
    flex-direction: column;
  }

  .footer-form {
    display: block;
  }

  .opaque-overlay {
    height: auto;
  }
}
.footer-social {
  width: 100%;
  flex-direction: column;
}
/*-------------------------------------------------------Maps */

div#map {
  min-height: 360px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
