@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*------------------------------------------------Colors */

.bg-color-header {
  background-color: #fafafa;
}

.bg-color-footer {
  background-color: #fafafa;
}

/*------------------------------------------------Header */
header {
  margin: 0;
}

.logo {
  background: url("../images/logo_sh.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100px;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

.menuitem {
  height: 30px;
  text-align: center;
  padding: 0;
}

.menuitem a {
  font-family: "Roboto", sans-serif;
  width: 100%;
  font-weight: 300;
  color: #3e362d;
  text-decoration: none;
  height: 30px;
  margin-top: 35px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.menu-list {
  flex-wrap: wrap;
  display: flex;
}

.social-links {
  padding-bottom: 15px;
  margin: auto;
  float: right;
}

.social-links li a i {
  margin-left: 10px;
  margin-right: 20px;
  width: 32px;
  height: 32px;
  padding: 0;
  font-size: 30px;
  line-height: 7px;
  color: #3e362d;
  text-align: center;
  background: #fafafa;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.list-inline-item:not(:last-child) {
  margin-right: 0px;
}

#nav li {
  font-size: 14px;
}

#nav a {
  display: inline-block;
  margin-left: 100px;
}

/*------------------------------------------------Hamburger */

.hamburger {
  background-color: transparent;
  border: 0;
  color: #3e362d;
  font-size: 40px;
  display: none;
  cursor: pointer;
}

.hamburger:focus {
  outline: none;
}

/*------------------------------------------------Check availability button */

.btn,
.btn--cta {
  cursor: pointer;
  background-color: #3e362d;
  border: 2px solid #3e362d;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}

.btn--form {
  cursor: pointer;
  background-color: #3e362d;
  border: 2px solid #3e362d;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 16px;
  width: auto;
}

.clear--btn {
  cursor: pointer;
  background-color: #fff;
  border: 2px solid #3e362d;
  border-radius: 2px;
  color: #3e362d;
  display: block;
  font-size: 10px;
  width: auto;
}
/*------------------------------------------------Hover.css */

.hvr-sweep-to-bottom:before {
  background: rgba(0, 0, 0, 0.5);
  height: 35px;
  width: 100%;
}

.btn--cta:hover {
  color: #fafafa;
  text-decoration: none;
  background-color: #9a0d02;
  border-color: #802103;
}

.btn--form:hover {
  color: #fafafa;
  text-decoration: none;
  background-color: #9a0d02;
  border-color: #802103;
}

/*------------------------------------------------Breadcrumb */

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #dadada;
}
ul.breadcrumb li {
  display: inline;
  font-size: 14px;
}
ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "|";
  font-family: "Exo", sans-serif;
  font-weight: 200;
}
ul.breadcrumb li a {
  color: #9a0d02;
  text-decoration: none;
}
/*------------------------------------------------Homepage images */

.container {
  width: 100%;
  max-width: 120rem;
  margin: auto;
  padding: 0, 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.house-image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1.5rem;
  grid-template-areas:
    "img-1 img-1 img-2"
    "img-4 img-3 img-3"
    "img-6 img-6 img-5"
    "img-7 img-8 img-9";
}

.house-image-gallery a {
  width: 100%;
  height: 20rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.house-image-gallery a i {
  color: rgba(255, 255, 255, 0.6);
  font-size: 3rem;
  position: relative;
  z-index: 100;
  padding: 1 rem 3 rem;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 0.4rem;
  opacity: 0;
  transition: opacity 0.5s;
}

.house-image-gallery a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.5s;
}

.house-image-gallery a:hover i,
.house-image-gallery a:hover::before {
  opacity: 1;
}

.img-1 {
  grid-area: img-1;
  background-image: url("../images/living1_small.jpg");
}

.img-2 {
  grid-area: img-2;
  background-image: url("../images/living2_small.jpg");
}

.img-3 {
  grid-area: img-3;
  background-image: url("../images/living3_small.jpg");
}

.img-4 {
  grid-area: img-4;
  background-image: url("../images/dining1_small.jpg");
}

.img-5 {
  grid-area: img-5;
  background-image: url("../images/dining2_small.jpg");
}

.img-6 {
  grid-area: img-6;
  background-image: url("../images/kitchen1_small.jpg");
}

.img-7 {
  grid-area: img-7;
  background-image: url("../images/kitchen2_small.jpg");
}

.img-8 {
  grid-area: img-8;
  background-image: url("../images/streetview2_small.jpg");
}

.img-9 {
  grid-area: img-9;
  background-image: url("../images/streetview1_small.jpg");
}

.house-image-text {
  font-family: "exo", sans-serif;
  font-weight: 300;
  color: #fafafa;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 18px;
}

/*------------------------------------------------Rooms images */

.container {
  width: 100%;
  max-width: 120rem;
  margin: auto;
  padding: 0, 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.rooms-image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1.5rem;
  grid-template-areas:
    "r-img-1 r-img-2 r-img-3"
    "r-img-4 r-img-5 r-img-6";
}

.rooms-image-gallery a {
  width: 100%;
  height: 20rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.rooms-image-gallery a i {
  color: rgba(255, 255, 255, 0.6);
  font-size: 3rem;
  position: relative;
  z-index: 100;
  padding: 1 rem 3 rem;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 0.4rem;
  opacity: 0;
  transition: opacity 0.5s;
}

.rooms-image-gallery a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.5s;
}

.rooms-image-gallery a:hover i,
.rooms-image-gallery a:hover::before {
  opacity: 1;
}

.r-img-1 {
  grid-area: r-img-1;
  background-image: url("../images/bedroom1_small.jpg");
}

.r-img-2 {
  grid-area: r-img-2;
  background-image: url("../images/bedroom2_small.jpg");
}

.r-img-3 {
  grid-area: r-img-3;
  background-image: url("../images/bedroom3_small.jpg");
}

.r-img-4 {
  grid-area: r-img-4;
  background-image: url("../images/bedroom4_small.jpg");
}

.r-img-5 {
  grid-area: r-img-5;
  background-image: url("../images/bathroom1_small.jpg");
}

.r-img-6 {
  grid-area: r-img-6;
  background-image: url("../images/bathroom2_small.jpg");
}

.house-image-text {
  font-family: "exo", sans-serif;
  font-weight: 300;
  color: #fafafa;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.house-image-text b {
  font-weight: bolder;
  font-size: 30px;
}

/*------------------------------------------------Contact form section */

.footer-form textarea {
  grid-column: 1 / 3;
  overflow: scroll;
}

/*------------------------------------------------Contact Address section */

.contact-address {
  position: relative;
  top: 0;
  left: 0;
  height: 360px;
  background-color: #3e362d;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
}

.contact-address-text {
  padding-top: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: center;
  color: #fafafa;
}

.contact-directions-text {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  text-align: center;
  color: #fafafa;
  font-size: 12px;
}

/*------------------------------------------------Services text */

.service-section-heading {
  font-family: "Exo", sans-serif;
  text-align: center;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 15px;
}

.block-divider {
  width: 150px;
  height: 5px;
  border: 0;
  background-color: #444;
}

.block-divider--red {
  background-color: #e04d4d;
}

.para-text {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  text-align: left;
}

/*------------------------------------------------Exchange Calculator */

.btn--exchange {
  color: #fff;

  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  padding: 5px 12px;
  margin-left: 1.5rem;
  background-color: #3e362d;
  border: 2px solid #3e362d;
}

.currency {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1.5rem;
}

.currency select {
  padding: 10px 20px 10px 10px;
  border-radius: 4px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #dedede;
  font-size: 16px;
  background: transparent;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%20000002%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-position: right 10px top 50%, 0, 0;
  background-size: 12px auto, 100%;
  background-repeat: no-repeat;
}

.currency input {
  border: 0;
  background: transparent;
  font-size: 30px;
  text-align: center;
  margin-right: 1.5rem;
}

.swap-rate-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 25px;
}

.rate {
  color: var(--primary-color);
  font-size: 14px;
  padding: 0 10px;
  margin-right: 1.5rem;
}

select:focus,
input:focus,
button:focus {
  outline: 0;
}

@media (max-width: 600px) {
  .currency input {
    width: 200px;
  }
}

/*------------------------------------------------Footer */
.section-column {
  display: table-cell;
  padding: 0 30px 30px;
  float: none;
}

.section-heading {
  font-family: "Exo", sans-serif;
  font-weight: 300;
  margin-top: 25px;
  margin-bottom: 10px;
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
  text-align: center;
}

.footer-address {
  text-align: center;
  width: 100%;
  font-weight: 100;
  color: #3e362d;
  text-decoration: none;
  height: 30px;
  margin-top: 35px;
  display: block;
  text-transform: uppercase;
}

.footer-social-links {
  padding-bottom: 15px;
  margin: auto;
  text-align: center;
}

.footer-social-links li a i {
  margin-left: 10px;
  margin-right: 20px;
  width: 32px;
  height: 32px;
  padding: 0;
  font-size: 30px;
  line-height: 7px;
  color: #3e362d;
  text-align: center;
  background: #fafafa;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}
/*------------------------------------------------Footer Form */

.opaque-overlay {
  position: relative;
  top: 0;
  left: 0;
  height: 360px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
}

.footer-form {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 13px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  padding: 20px 20px;
}

.text-input {
  margin-right: 30px;
}

.footer-form .full {
  grid-column: 1 / 3;
}

.footer-social {
  width: 100%;
  flex-direction: column;
}

.footer-form textarea {
  margin-bottom: 20px;
}

/*------------------------------------------------Media Queries */

@media screen and (max-width: 992px) {
  .menu-list {
    display: none;
    width: 100%;
    flex-direction: column;
  }
  .menu-list.show {
    display: flex;
  }

  #nav.show {
    display: flex;
  }

  .hamburger {
    display: block;
    float: right;
  }

  .btn--cta {
    display: none;
    width: 100%;
    flex-direction: column;
  }

  .header-social {
    display: none;
    width: 100%;
    flex-direction: column;
  }

  .opaque-overlay {
    height: auto;
  }

  .house-image-text {
    font-size: 20px;
  }

  .footer-form {
    display: block;
  }

  .currency input {
    text-align: left;
  }
}

@media screen and (max-width: 1390px) {
  .footer-form {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 13px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: 20px 20px;
  }
}

@media screen and (max-width: 950px) {
  .footer-form {
    display: block;
  }
}

@media screen and (max-width: 760px) {
  .text-input {
    width: 100%;
  }

  .house-image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1.5rem;
    grid-template-areas:
      "img-1 img-1 img-1"
      "img-2 img-2 img-2"
      "img-3 img-3 img-3"
      "img-4 img-4 img-4"
      "img-5 img-5 img-5"
      "img-6 img-6 img-6"
      "img-7 img-7 img-7"
      "img-8 img-8 img-8"
      "img-9 img-9 img-9";
  }

  .house-image-gallery a {
    height: 15rem;
  }

  .house-image-text b {
    font-size: 20px;
  }
  .house-image-text {
    font-size: 15px;
  }

  .rooms-image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1.5rem;
    grid-template-areas:
      "r-img-1 r-img-1 r-img-1"
      "r-img-2 r-img-2 r-img-2"
      "r-img-3 r-img-3 r-img-3"
      "r-img-4 r-img-4 r-img-4"
      "r-img-5 r-img-5 r-img-5"
      "r-img-6 r-img-6 r-img-6";
  }

  .rooms-image-gallery a {
    height: 15rem;
  }
}

@media screen and (max-width: 1280px) {
  .currency input {
    text-align: left;
  }
}

/*-------------------------------------------------------Maps */

div#map {
  min-height: 360px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
